.news-block {
    background: $light-bg;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
        margin-bottom: 24px;
    }
    &__column {
        width: 30%;
        color: $main-font;
    }
    &__title {
        margin-bottom: 16px;
        font-style: italic;
        color: $black;
    }
}