.gallery {
    &__title {
        margin-bottom: 24px;
    }
}
.gallery-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    &__main-photo {
        position: relative;
        width: 100%;
        max-width: 568px;
        height: 250px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-between;
        width: 38.75%;
    }
    &__box {
        width: 120px;
        height: 120px;
        overflow: hidden;
        cursor: pointer;
        img {
            height: 100%;
            width: 100%;
        }
    }
}
.floatImage {
    position: absolute;
    top: 0;
    animation: floatImage 2s;
}
@keyframes floatImage {
    from {
        left: -100%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}