.main-slider {
    position: relative;
    &__slide {
        min-height: 400px;
        background: $black;
        padding: 20px;
        margin-bottom: 36px;
    }
    &__block {
        position: absolute;
        left: 20px;
        bottom: 20px;
        background: #000;
        color: #fff;
        width: 43.5%;
        padding: 24px;
        opacity: 0.8;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__text {
        line-height: 1.4;
    }
    &__dots {
        position: absolute;
        display: flex;
        top: 10px;
        right: 10px;

    }
    &__circle {
        width: 10px;
        height: 10px;
        margin-left: 5px;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        background: #fff;
        transition: all 0.2s ease-in;
        &:hover {
            background: transparent;
        }
        &--active {
            background: transparent;
        }
    }
}